language: c
sudo: required
install: wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-opam.sh
script: bash -ex .travis-opam.sh
env:
  - PACKAGE=loga OCAML_VERSION=4.03
  - PACKAGE=loga OCAML_VERSION=4.04
os:
  - linux
  - osx
