language: c
install: wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-docker.sh
script: bash -ex .travis-docker.sh
services:
- docker
env:
  global:
  - PINS="bigstring:. bigstring-unix:."
  - DISTRO="ubuntu-16.04"
  matrix:
  #- PACKAGE="bigstring" OCAML_VERSION="4.02.3" DEPOPTS="base-unix"
  - PACKAGE="bigstring" OCAML_VERSION="4.03" 
  - PACKAGE="bigstring" OCAML_VERSION="4.04"
  - PACKAGE="bigstring" OCAML_VERSION="4.05"
  - PACKAGE="bigstring" OCAML_VERSION="4.06"
  - PACKAGE="bigstring" OCAML_VERSION="4.08"
  - PACKAGE="bigstring" OCAML_VERSION="4.09"
  - PACKAGE="bigstring-unix" OCAML_VERSION="4.03" 
  - PACKAGE="bigstring-unix" OCAML_VERSION="4.04"
  - PACKAGE="bigstring-unix" OCAML_VERSION="4.05"
  - PACKAGE="bigstring-unix" OCAML_VERSION="4.06"
  - PACKAGE="bigstring-unix" OCAML_VERSION="4.08"
  - PACKAGE="bigstring-unix" OCAML_VERSION="4.09"
