platform:
  - x64

services:
  - mssql2017

environment:
  global:
    PACKAGE: freetds
    CYG_PKGS: mingw64-x86_64-freetds
    FORK_USER: ocaml
    FORK_BRANCH: master
    CYG_ROOT: C:\cygwin64
    MSSQL_TEST_USER: sa
    MSSQL_TEST_PASSWORD: Password12!
    MSSQL_TEST_SERVER: 127.0.0.1 #(local)\SQL2017
    MSSQL_TEST_DATABASE: master
#    TDSVER: 4.2
    TDSVER: 7.4
  matrix:
    - OPAM_SWITCH: 4.06.1+mingw64c
#    - OPAM_SWITCH: 4.06.1+msvc64c

install:
  - ps: iex ((new-object net.webclient).DownloadString("https://raw.githubusercontent.com/$env:FORK_USER/ocaml-ci-scripts/$env:FORK_BRANCH/appveyor-install.ps1"))

build_script:
  - call %CYG_ROOT%\bin\bash.exe -l %APPVEYOR_BUILD_FOLDER%\appveyor-opam.sh
