language: c
sudo: required
install: wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-opam.sh
script: bash -ex .travis-opam.sh && make gh-pages && bash -ex .coverage.sh
env:
  global:
  - secure: "BcNzNHmOVQQegY8uI2sOhV5RNpW144M7omUbTIATdxMou690ydk9LJDaWowqyv9JruS6n2ZMu3UO2bf/KySxHG56iZ8mtPtUtp98llWydM37dodGLAK09SX8vD9NqOZ5JK9382Ip83s98DjLrZKdftB4FSt82aOB4erF4hB0ChM="
  - EXTRA_REMOTES="https://github.com/mirage/mirageos-3-beta.git"
  matrix:
  - OCAML_VERSION=4.03
  - OCAML_VERSION=4.04
branches:
  only: master
