name: install-test

on:
  push

jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        ocaml-version:
          - 4.11.1
          - 4.08.1
    steps:
      - uses: actions/checkout@v2
      - uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: Build
        run: |
          eval $(opam env)
          sudo apt-get install libonig-dev
          opam install .
